---
import ProjectsButton from "./ProjectsButton.astro";
import { projects } from "./data";
---

<section
  id="house"
  class="relative flex h-[100dvh] w-screen flex-col items-center justify-start overflow-hidden"
>
  <div
    class="container mx-auto flex flex-wrap items-center justify-between space-y-2 self-start p-8"
  >
    <div class="flex flex-col space-y-2">
      <h2 class="text-2xl font-bold text-white md:text-4xl">House</h2>
      <p class="text-xl font-medium text-gray-300 md:text-2xl">
        Collection of selected work
      </p>
    </div>
    <a
      href="#"
      class="flex items-center space-x-2 text-base font-medium text-white hover:underline md:text-lg lg:text-xl"
    >
      <span>View all projects</span>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        class="h-5 w-5"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"></path>
      </svg>
    </a>
  </div>

  <div id="carousel" class="relative hidden">
    {
      projects.map((project) => (
        <article class="image-container absolute top-10 xs:top-[21vh] h-[50vw] w-[65vw] overflow-hidden lg:top-10 md:h-[32vw] md:w-[55vw]">
          <img
            src={project.image}
            alt={project.name}
            class="h-full w-full rounded-3xl object-cover"
          />
          <div class="project-text absolute bottom-0 left-0 z-50 flex w-full flex-col items-start space-y-2 bg-gradient-to-t from-black pl-4 text-white md:px-8 md:py-12">
            <h1 class="text-xl font-bold md:text-2xl lg:text-3xl">
              {project.name}
            </h1>
            <p class="text-base font-medium md:text-lg lg:text-xl">
              {project.description}
            </p>
          </div>
        </article>
      ))
    }
  </div>

  <div
    class="container absolute bottom-16 mx-auto flex w-full flex-1 items-center justify-between px-8 text-white md:bottom-24"
  >
    <ProjectsButton variant="left" id="hmm">left</ProjectsButton>
    <ProjectsButton variant="right" id="ahhh">right</ProjectsButton>
  </div>
</section>

<script>
  import { animate } from "motion";
  import { projects } from "./data";

  let position = 1;
  const projectLength = projects.length;

  function handleLeftSwipe() {
    position = position === 0 ? projectLength - 1 : position - 1;
    updatePosition();
  }

  function handleRightSwipe() {
    position = position === projectLength - 1 ? 0 : position + 1;
    updatePosition();
  }

  const handleSwipe = (dir: string) => {
    if (dir === "left") {
      position = position === projectLength - 1 ? 0 : position + 1;
      updatePosition();
    }

    if (dir === "right") {
      position = position === 0 ? projectLength - 1 : position - 1;
      updatePosition();
    }
  };

  function updatePosition() {
    const containers = document.querySelectorAll(
      ".image-container"
    ) as unknown as HTMLElement[];
    containers.forEach((container, index) => {
      animate(
        container,
        {
          left: `${(index - position) * 60 - 30}vw`,
          scale: [position === index ? 0 : 1, index === position ? 1 : 0.6],
        },
        {
          duration: 1,
        }
      );

      const projectText = document.querySelectorAll(".project-text")[
        index
      ] as HTMLElement;

      if (projectText) {
        if (index === position) {
          projectText.style.display = "flex";
          animate(
            projectText,
            {
              opacity: [0, 1],
              y: [20, 0],
            },
            {
              duration: 1,
            }
          );
        } else {
          projectText.style.display = "none";
        }
      }
    });
  }

  document.getElementById("hmm")?.addEventListener("click", handleLeftSwipe);
  document.getElementById("ahhh")?.addEventListener("click", handleRightSwipe);

  document.addEventListener("DOMContentLoaded", () => {
    const carousel = document.getElementById("carousel") as HTMLElement;
    carousel.style.display = "flex";

    if (carousel) {
      animate(
        carousel,
        {
          opacity: [0, 1],
        },
        {
          duration: 4,
          delay: 0.5,
        }
      );

      carousel.addEventListener("swiped", function (e) {
        // @ts-ignore
        handleSwipe(e.detail.dir);
      });
    }

    updatePosition();
  });
</script>
