---
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Sloghouse - Home Page">
  <main>
    <Hero />
    <Projects />
  </main>
</Layout>
