---
import { BackgroundImage } from "astro-imagetools/components";
import Logo from "./Logo.astro";
---

<BackgroundImage
  tag="section"
  src="/assets/images/sloghouse.jpeg"
  placeholder="dominantColor"
  attributes={{
    container: {
      id: "hero-section",
      title: "hero-section",
      class: "h-screen w-screen bg-blend-multiply",
    },
  }}
>
  <div
    class="max-w-8xl flex flex-col h-full justify-center space-y-8 p-5 md:mx-auto text-center sm:text-left md:pt-28 lg:pt-20"
  >
    <div class="flex items-center justify-center ml-auto w-full max-w-xl">
      <Logo
        className="hidden w-30 h-20 sm:block sm:w-52 sm:h-36 md:w-96 md:h-52 mr-12"
      />
      <div id="circ" class="animate-spin-slow w-auto font-semibold">
        &nbsp; Film . Visual Art . Creative . Content .
      </div>
    </div>
    <h1 class="text-3xl md:text:5xl lg:text-7xl italic uppercase break-words">
      We are sloghouse.
    </h1>
    <q class="text-white text-xl md:text-3xl lg:text-5xl md:leading-normal"
      >Unapologetically confident and dynamically adaptable</q
    >
  </div>
</BackgroundImage>

<script>
  import CircleType from "circletype";
  const circ = new CircleType(document.getElementById("circ"));
  circ.raduis(360);

  const heroSection = document.getElementById("hero-section");
  const images = [
    "/assets/images/sloghouse.jpeg",
    "/assets/images/sloghouse-1.jpeg",
    "/assets/images/sloghouse-2.jpeg",
  ];
  const preloadedImages: HTMLImageElement[] = [];

  // Preload images function
  const preloadImages = (urls: string[], allImages: HTMLImageElement[]) => {
    const promises = urls.map((url) => {
      return new Promise<void>((resolve, reject) => {
        const img = new Image();
        img.src = url;
        img.onload = () => {
          allImages.push(img);
          resolve();
        };
        img.onerror = reject;
      });
    });
    return Promise.all(promises);
  };

  // Start the image preloading
  preloadImages(images, preloadedImages).then(() => {
    const cycleImages = (
      images: HTMLImageElement[],
      container: HTMLElement,
      step: number
    ) => {
      let currentIndex = 0;
      const imageCount = images.length;
      setInterval(() => {
        container.style.backgroundImage = `linear-gradient(rgba(0,0,0, 0.3), rgba(0,0,0, 0.4)), url(${images[currentIndex]?.src})`;
        currentIndex = (currentIndex + 1) % imageCount;
      }, step);
    };

    if (heroSection) {
      cycleImages(preloadedImages, heroSection, 5000);
    }
  });
</script>
