---
import Logo from "./Logo.astro";
const navigationLinks = [
  { name: "Home", href: "/" },
  { name: "Projects", href: "#projects" },
  { name: "Contact", href: "mailto:holla@sloghouse.co" },
];
---

<header
  class="absolute inset-x-0 top-0 z-10 mx-auto flex w-full max-w-8xl items-center justify-between p-4"
>
  <nav class="z-10 flex w-full items-center justify-between">
    <a href="/"> <Logo className="h-14 w-32 md:h-24 md:w-52" /></a>

    <!-- Mobile menu button -->
    <button
      id="mobile-menu-button"
      class="inline-flex items-center font-heading text-white focus:outline-none md:hidden"
      aria-label="Menu"
    >
      <span class="mr-4 text-base sm:text-xl">Menu</span>
      <svg
        id="menu-icon"
        class="h-6 w-6 fill-current"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect y="8" width="24" height="2" rx="1"></rect>
        <rect y="16" width="24" height="2" rx="1"></rect>
      </svg>
      <!-- "X" icon -->
      <svg
        id="close-icon"
        class="hidden h-6 w-6 fill-current"
        viewBox="0 0 24 24"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect
          x="3.53553"
          y="2.82843"
          width="24"
          height="2"
          rx="1"
          transform="rotate(45 3.53553 2.82843)"></rect>
        <rect
          x="2.82843"
          y="20.1421"
          width="24"
          height="2"
          rx="1"
          transform="rotate(-45 2.82843 20.1421)"></rect>
      </svg>
    </button>

    <!-- Primary Menu -->
    <div class="hidden items-center justify-between md:flex">
      {
        navigationLinks.map((link) => (
          <a
            href={link.href}
            class="mx-4 text-xl font-medium text-white hover:underline"
          >
            {link.name}
          </a>
        ))
      }
    </div>
  </nav>

  <!-- Mobile Menu -->
  <div
    id="mobile-menu"
    class="absolute inset-x-0 top-0 hidden h-screen bg-black/95 md:hidden"
  >
    <nav class="flex h-full flex-col items-center justify-center space-y-10">
      {
        navigationLinks.map((link) => (
          <a
            href={link.href}
            class="mobile-menu-link mx-4 text-xl font-medium text-white hover:underline"
          >
            {link.name}
          </a>
        ))
      }
    </nav>
  </div>

  <script>
    import { animate, stagger } from "motion";

    document.addEventListener("DOMContentLoaded", () => {
      const mobileMenu = document.getElementById("mobile-menu");
      const closeIcon = document.getElementById("close-icon");
      const menuIcon = document.getElementById("menu-icon");
      const mobileMenuButton = document.getElementById("mobile-menu-button");

      mobileMenuButton?.addEventListener("click", () => {
        // create staggered animation of mobile menu links from bottom to top
        const mobileMenuLinks = document.querySelectorAll(".mobile-menu-link");
        animate(
          mobileMenuLinks,
          {
            opacity: [0, 1],
            translateY: ["100%", "0%"],
          },
          {
            duration: 0.5,
            delay: stagger(0.2),
          }
        );

        mobileMenu?.classList.toggle("hidden");
        closeIcon?.classList.toggle("hidden");
        menuIcon?.classList.toggle("hidden");
      });
    });
  </script>
</header>
