---
type Props = {
  id?: string;
  className?: string;
  variant: "left" | "right";
};
const { id, className, variant } = Astro.props;
---

<button
  id={id}
  class={`group inline-flex items-center rounded-full bg-white p-1 font-medium text-black md:p-2 ${className}`}
  type="button"
>
  <span class="sr-only">{`Scroll carousel ${variant}`}</span>
  <span class="mx-3 hidden uppercase md:inline-flex"
    >{variant === "left" ? "Prev" : "Next"}</span
  >
  <span
    class="rounded-full p-2 md:group-hover:bg-black md:group-hover:text-white"
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="2"
      stroke="currentColor"
      class="h-4 w-4 fill-white"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d={variant === "left"
          ? "M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"
          : "M13.5 4.5L21 12m0 0l-7.5 7.5M21 12H3"}></path>
    </svg>
  </span>
</button>
