---
import { ImageSupportDetection } from "astro-imagetools/components";

import Navbar from "../components/Navbar.astro";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <ImageSupportDetection />
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link
      href="https://fonts.cdnfonts.com/css/neue-haas-grotesk-display-pro"
      rel="stylesheet"
    />
    <link
      rel="preload"
      href="/assets/fonts/Padaloma.ttf"
      as="font"
      type="font/ttf"
      crossorigin
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="relative">
    <Navbar />
    <slot />
    <style is:global>
      @font-face {
        font-family: "Padaloma";
        font-weight: 500 600 800 900;
        font-display: block; /* This property will help us not flash unstyled text for a couple hundred milliseconds, and then it would act like font-display: swap */
        src: url("/assets/fonts/Padaloma.ttf") format("truetype");
      }

      body {
        @apply bg-black font-body text-white;
      }

      h1,
      h2,
      h3,
      h4,
      h5 {
        @apply font-heading;
      }
    </style>
    <script src="../../swiped-events.min.js"></script>
  </body>
</html>
